body{
	margin: 0 auto;
	padding: 0px;
}
.main {
	width: 800px;
	min-height: 600px;
	/*background: grey;*/
	float: left;
}
.header	{
	width: 800px;
	min-height: 70px;
	background: #FFD900;
	float: left;
}
.center{
	width: 800px;
	min-height: 460px;
	/*background: blue;*/
	float: left;
	margin: 10px 0px;
}
.footer{
	width: 800px;
	min-height: 70px;
	background: #FFD900;
	float: left;
}
.rleft{
	width: 150px;
	min-height: inherit;
	background: #FFD900;
	float: left;
}
.rcenter{
	width: 480px;
	min-height: inherit;
	background: #FFD900;
	float: left;
	margin: 0px 10px;
}
.rright{
	width: 150px;
	min-height: inherit;
	background: #FFD900;
	float: left;
}